body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff; /* Bright and clean background */
    margin: 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    color: #333;
}

.slider-container,
.color-picker-container,
.buttons-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Ensures space between buttons if needed */
    align-items: center; /* Centers buttons vertically */
}

.slider-container label,
.color-picker-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: #e4e4e4; /* Neutral background for slider track */
    outline: none;
    transition: background .2s;
}

input[type="range"]:focus {
    background: #cccccc; /* Slightly darker track for focus state */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(135deg, #6dd5ed 0%, #2193b0 100%); /* Gradient for thumb */
    cursor: pointer;
    margin-top: -6px; /* Align thumb with the track */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Shadow for thumb */
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(135deg, #6dd5ed 0%, #2193b0 100%);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: white; /* Neutral background */
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

button {
    flex-grow: 1; /* Grow to fill the container */
    border: none;
    margin: 5px 5px 0 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    background: linear-gradient(135deg, #6dd5ed 0%, #2193b0 100%); /* Gradient for buttons */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Shadow for buttons */
}

button:hover {
    background: linear-gradient(135deg, #37c8df 0%, #1b95ad 100%);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.feature-container {
    margin-bottom: 10px; /* Adjust this value for the desired gap */
}

/* Add styles for tab links */
.tab {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space between buttons */
    width: 100%; /* Ensures the tab container fills its parent's width */
    border-bottom: 1px solid #ccc;
    /* now make each button get a row and then make then descend */
    
}

.tab button {
    flex: 1; /* Each button grows to take available space */
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center; /* Centers text inside the button */
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Default display for the first tab */
.tabcontent:first-child {
    display: block;
}


#apply-btn {
    margin-right: 10px;
}
